@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
  }
  
  body{
    background: #fff;
  }
  
  .wrapper .header{
    z-index: 1;
    background: #224E6B;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    font-weight: 400;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
  }
  
  .wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
  }
  
  .wrapper .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
  }
  
  .wrapper .sidebar{
    z-index: 1;
    background: #224E6B;
    position: fixed;
    top: 70px;
    width: 230px;
    height: 100%;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .wrapper .sidebar .sidebar-menu .profile p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    font-size: 15px;
    display: block;
    color: #fff;
    position: relative;
    padding: 20px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    background: #1d435c;
    text-decoration: none;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #224E6B;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 15px;
    padding-left: 30px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    text-decoration: none;
    background: #1d435c;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #224E6B;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrapper .main-container{
    width: (100% - 230px);
    margin-top: 70px;
    margin-left: 220px;
    padding: 15px;
    background: #F2F3F7;
    background-size: cover;
    min-height: 100vh;
    transition: 0.3s;
  }
  
  .wrapper.collapse .sidebar{
    width: 70px;
  }
  
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  
  .wrapper .main-container .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper .main-container .card{
    border-radius: 5px;
    max-width: 250px;
    text-align: center;
    background: white;
    padding: 45px;
    margin: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .wrapper .main-container .card > i{
    padding-bottom: 30px;
  }

  .wrapper .main-container .card > h5{
    font-size: 15px;
    padding-bottom: 30px;
  }

  .wrapper .main-container .card > p{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  .wrapper .main-container .big-card{
    width: 100%;
    border-radius: 5px;
    text-align: left;
    background: white;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
  }
  
  .wrapper .main-container .header-container{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .centered-wrapper{
    padding: 25px 5% 120px 5%;
    text-align: center;
  }
  .centered-wrapper > h4 {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .left-wrapper{
    padding: 15px 2% 120px 2%;
    text-align: left;
  }
  .left-wrapper > h4 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .order-card{
    border-radius: 5px;
    width: 180px;
    text-align: center;
    background: #224E6B;
    padding: 25px;
    margin: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
  }
  .order-card .input-order{
    margin-top: 30px;
  }
  .order-card > h5{
    font-size: 14px;
    padding-bottom: 30px;
  }
  .order-card > p{
    font-size: 12px;
    font-weight: 700;
  }
  .input-order > input[type=text] {
    width: 100%;
    height: 35px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    resize: vertical;
  }
  .order-total{
    background: #224E6B;
    width: 100%;
    color: white;
    padding: 30px 20px 30px 30px;
  }
  .order-total > p{
    font-size: 32px;
    font-weight: 900;
  }
  
  .flex-card{
    border-radius: 5px;
    background: white;
    padding: 20px;
    margin: 10px;
    font-size: 15px;
  }
  .flex-card.grow1{
    width: 55%;
  }
  .flex-card.grow2{
    width: 39%;
  }
  .flex-card.grow2 .order-total{
    border-radius: 5px;
    padding: 15px;
  }
  .flex-card.grow2 .order-total > h4{
    margin-bottom: 30px;
  }

  .grey-card{
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background: #F2F3F7;
    color: #a5a5a5;
    padding: 45px;
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form-card{
    border-radius: 5px;
    width: 100%;
    background: #F2F3F7;
    color: black;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form-card > p{
    margin-bottom: 15px;
  }
  .form-card > input[type=text]{
    height: 40px;
  }
  .form-card > select{
    height: 40px;
    cursor: pointer;
  }

  /* ==================================== FORMAT BUTTON ==================================== */
  .btn-add {
    border-radius: 3px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 10px 5px 10px 0px;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-add:hover{
    cursor: pointer;
    color: #fff;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-add:focus{
    color: #fff;
    background-color: #1d435c;
    border-color: #286090;
  }

  .btn-refresh {
    border-radius: 3px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 10px 5px 10px 0px;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-refresh:hover{
    cursor: pointer;
    color: #fff;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-refresh:focus{
    color: #fff;
    background-color: #3e8854;
    border-color: #3e8854;
  }

  .btn-add-green {
    border-radius: 3px;
    color: #fff;
    width: 120px;
    height: 35px;
    margin: 10px 5px 10px 0px;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-add-green:hover{
    cursor: pointer;
    color: #fff;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-add-green:focus{
    color: #fff;
    background-color: #3e8854;
    border-color: #3e8854;
  }

  .btn-blue {
    border-radius: 3px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 10px 5px 10px 0px;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-blue:hover{
    cursor: pointer;
    color: #fff;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-blue:focus{
    color: #fff;
    background-color: #1d435c;
    border-color: #286090;
  }

  .btn-cancel {
    border-radius: 3px;
    color: #fff;
    width: 100px;
    height: 40px;
    margin: 40px 5px 10px 0px;
    background-color: #c72432;
    border-color: #c72432;
    float: left;

  }
  .btn-cancel:hover{
    cursor: pointer;
    color: #fff;
    background-color: #c72432;
    border-color: #c72432;
  }
  .btn-cancel:focus{
    color: #fff;
    background-color: #941e27;
    border-color: #941e27;
  }
  .btn-cancel > p{
    padding: 5px;
  }

  .btn-submit {
    border-radius: 3px;
    color: #fff;
    width: 100px;
    height: 40px;
    margin: 40px 5px 10px 0px;
    background-color: #4BA867;
    border-color: #4BA867;
    float: left;
  }
  .btn-submit:hover{
    cursor: pointer;
    color: #fff;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-submit:focus{
    color: #fff;
    background-color: #3e8854;
    border-color: #3e8854;
  }
  .btn-smallblue{
    border-radius: 3px;
    color: #fff;
    width: 25px;
    height: 25px;
    margin: 10px 5px 10px 0px;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-smallblue:hover{
    cursor: pointer;
    color: #fff;
    background-color: #224E6B;
    border-color: #224E6B;
  }
  .btn-smallblue:focus{
    color: #fff;
    background-color: #1d435c;
    border-color: #286090;
  }
  .btn-smallred{
    border-radius: 3px;
    color: #fff;
    width: 25px;
    height: 25px;
    margin: 10px 5px 10px 0px;
    background-color: #c72432;
    border-color: #c72432;
  }
  .btn-smallred:hover{
    cursor: pointer;
    color: #fff;
    background-color: #c72432;
    border-color: #c72432;
  }
  .btn-smallred:focus{
    color: #fff;
    background-color: #941e27;
    border-color: #941e27;
  }
  .btn-smallgreen{
    border-radius: 3px;
    color: #fff;
    width: 25px;
    height: 25px;
    margin: 10px 5px 10px 0px;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-smallgreen:hover{
    cursor: pointer;
    color: #fff;
    background-color: #4BA867;
    border-color: #4BA867;
  }
  .btn-smallgreen:focus{
    color: #fff;
    background-color: #3e8854;
    border-color: #3e8854;
  }

  /* ====================== TOGGLE SWITCH (SLIDER) ========================== */
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    
  }
  
  input:checked + .slider {
    background-color: #4BA867;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4BA867;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* ====================== UNTUK FORM ========================== */
  
  input, select, textarea {
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 6px;
    resize: vertical;
  }
  textarea{
    min-height: 300px;
  }

  /* ========== POSITION BUTTON PADA IMPORT BUTTON ==========*/
  .join-textbutton {
    width: 100%;
    margin-bottom: 6px;
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .join-textbutton select:focus, .join-textbutton select:active {
    outline: none;
    cursor: pointer;
  }
  .join-textbutton select {
    width: 90%;
    height: 45px;
    margin: 0px;
    float: left;
    border: none;
  }
  .join-textbutton button {
    width: 10%;
    height: 49px;
    float: right;
    margin: 0px;
  }

  .textbox-notif {
    font-size: 12px;
    float: left;
    margin-bottom: 6px;
  }

  /* #################################### TABEL #################################### */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th{
    text-align: left;
    padding: 15px;
    background-color: #F2F3F7 ;
  }
  td {
    white-space: nowrap;
    text-align: left;
    padding: 15px;
  }
  .check-icon{
    border-radius: 100px;
    color: white;
    background-color: #4BA867;
    width: 25px;
    height: 25px;
    padding: 6px;
  }
  .flag-icon{
    border-radius: 100px;
    color: #4BA867;
    width: 25px;
    height: 25px;
    padding: 6px;
  }

  /* ################################ RESPONSIF UNTUK 860px ######################## */
  @media only screen and (max-width : 860px){
    button span{
      display:none;
    }
    
    .flex-card.grow1{
      width: 100%;
    }
    .flex-card.grow2{
      width: 100%;
    }
  }

  /* ################################ RESPONSIF UNTUK MOBILE ######################## */
  @media only screen and (max-width: 600px) {
    
  }